:root {
    --blue: #1B4688;
    --white: #FFFFFF;
    --black: #000000;
  }

  /* {
    box-sizing: border-box;
  }*/
  .col-container {
    display: table;
    width: 100%;
  }

  .column {
    display: table-cell; 
  }*/
  .first {
    display: table-cell;
    width: 50%;
    padding: 2%;
    float: left;
  }

  .second {
    display: table-cell;
    width: 33%;
    padding: 2%;
    float: right;
  }
/* Clear floats after the columns */
.row:after {
  content: "";
  
  clear: both;
}

    table {
      padding: 2px;
      width: 100%;
  }
  .right {
    text-align: right;
    margin-right: 2%;
  }
  
  .left {
    text-align: left;
    margin-left: 2%;
  }

  }
  body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    font-size: 120%;
}

li {
    list-style: "=>";
    font-size: 120%;
    margin-left: 15%;
  }
    
  .light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
  }
  #rcorners {
   /* border-radius: 25px;*/
    background: var(--blue);
    padding:8%;
    width: 85%;
    align-self: auto;
  }
 

.column {
  float: left;
  width: 50%;
}
