:root {
    --blue: #1B4688;
    --white: #FFFFFF;
    --black: #000000;
  }

    table {
      padding: 20px;
      width: 100%;
  }

  body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    font-size: 120%;
}

li {
    list-style: circle;
  }
    
  .light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
  }
  #rcorners {
   /* border-radius: 25px;*/
    background: var(--blue);
   /* padding:5%;*/
    width: 100%;
    align-self: auto;
  }
 