:root {
    --blue: #226eef;
    --white: #FFFFFF;
    --black: #000000;
  }

  body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    font-size: 120%;
}

li {
    list-style: circle;
  }
    
  .light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }



